<div class="container">
  <h1 class="text-center fs-1 pb-4">Hypnosis Studio Alen</h1>
  <div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col">
      <div class="card rounded-0 shadow border-danger">
        <div class="card-body bg-dark bg-gradient" routerLink="/hypnosis-studio-alen-private">
          <h1 class="card-title text-center text-white py-5 fs-3">PRIVATE</h1>
        </div>
        <div class="card-footer bg-dark border-0 rounded-0 position-relative p-3">
          <div class="position-absolute top-50 start-0 translate-middle-y ps-2 text-secondary">
            Število dejanj: {{privateActionCount || 0 }}
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card rounded-0 shadow border-success">
        <div class="card-body bg-dark bg-gradient" routerLink="/hypnosis-studio-alen-public">
          <h1 class="card-title text-center text-white py-5 fs-3">PUBLIC</h1>
        </div>
        <div class="card-footer bg-dark border-0 rounded-0 position-relative p-3">
          <div class="position-absolute top-50 start-0 translate-middle-y ps-2 text-secondary">
            Število dejanj: {{backendActionCount || 0 }}
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card rounded-0 shadow border-success">
        <div class="card-body bg-dark bg-gradient" routerLink="/hypnosis-studio-alen-backend">
          <h1 class="card-title text-center text-white py-5 fs-3">BACKEND</h1>
        </div>
        <div class="card-footer bg-dark border-0 rounded-0 position-relative p-3">
          <div class="position-absolute top-50 start-0 translate-middle-y ps-2 text-secondary">
            Število dejanj: {{backendActionCount || 0 }}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

