<div class="container">
  <h1 class="text-center fs-1 pb-4">Hypnosis Studio Alen</h1>
  <div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col">
      <div class="card rounded-0 shadow border-danger">
        <div class="card-body bg-dark bg-gradient" routerLink="/hypnosis-studio-alen-private">
          <h1 class="card-title text-center text-white py-5 fs-3">PRIVATE</h1>
        </div>
        <div class="card-footer bg-dark border-0 rounded-0 position-relative p-3">
          <div class="position-absolute top-50 start-0 translate-middle-y ps-2 text-secondary">
            Število dejanj: {{privateActionCount || 0 }}
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card rounded-0 shadow border-success">
        <div class="card-body bg-dark bg-gradient" routerLink="/hypnosis-studio-alen-public">
          <h1 class="card-title text-center text-white py-5 fs-3">PUBLIC</h1>
        </div>
        <div class="card-footer bg-dark border-0 rounded-0 position-relative p-3">
          <div class="position-absolute top-50 start-0 translate-middle-y ps-2 text-secondary">
            Število dejanj: {{publicActionCount || 0 }}
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card rounded-0 shadow border-success">
        <div class="card-body bg-dark bg-gradient" routerLink="/hypnosis-studio-alen-backend">
          <h1 class="card-title text-center text-white py-5 fs-3">BACKEND</h1>
        </div>
        <div class="card-footer bg-dark border-0 rounded-0 position-relative p-3">
          <div class="position-absolute top-50 start-0 translate-middle-y ps-2 text-secondary">
            Število dejanj: {{backendActionCount || 0 }}
          </div>
        </div>
      </div>
    </div>
  </div>

</div>

<div class="container text-center pt-4">

  <div class="row">
    <div class="col-md-5">
      <h2>Pridobivanje unikatnih gostov s štetjem obiskov</h2>

      <div class="d-flex justify-content-center">
        <table class="table table-striped table-dark">
          <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Klient</th>
            <th scope="col">Št. obiskov</th>
          </tr>
          </thead>
          <tbody>
          <tr class="text-white" *ngFor="let item of uniqueClientHosts; let i = index">
            <td>{{ i + 1 }}</td>
            <td>{{ item['client_host'] }}</td>
            <td>{{ item.count }}</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="col-md-7">
      <h2>Pridobivanje lokacijskih informacij uporabnika</h2>
      <button (click)="deleteAllLogs()">Delete all</button>

      <div class="d-flex justify-content-center">
        <table class="table table-striped table-dark">
          <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Klient</th>
            <th scope="col">cca. lokacija</th>
            <th scope="col">cca. regija</th>
            <th scope="col">Log - Lat</th>
            <th scope="col">ORG</th>
            <th scope="col"></th>
          </tr>
          </thead>
          <tbody>
          <tr class="text-white" *ngFor="let data of geolocationData; let i = index">
            <td>{{ i + 1 }}</td>
            <td>{{ data.ip }}</td>
            <td>{{ data.city }}</td>
            <td>{{ data.region }}, {{ data.country }}</td>
            <td>{{data.loc.replace(',', ' ')}}</td>
            <td>{{data.org}}</td>
            <td>
              <button></button>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>



</div>

