<h1 class="text-center pt-5 pb-4" style="font-size: 2rem;">PUBLIC Admin actions</h1>
<div class="container p-0">
  <button class="text-uppercase" mat-raised-button color="warn" style="width: 100%; height: 50px; border-radius: 0;" (click)="deleteAllLogs()">Izbriši
    vse loge
  </button>
  <!-- PRIKAZ BLOGA -->
  <div class="table-responsive-lg">

    <mat-form-field style="width: 100%;">
      <mat-label>Filtriraj vnose...</mat-label>
      <input matInput (keyup)="applyFilter($event)" #input>
    </mat-form-field>

    <table class="shadow" *ngIf="public" mat-table [dataSource]="dataSource">

      <!-- Blog ID Column -->
      <ng-container matColumnDef="log_id">
        <th class="fw-bold" mat-header-cell *matHeaderCellDef> ID</th>
        <td mat-cell *matCellDef="let element"> {{ calculateIndex(element) }} </td>
      </ng-container>

      <!-- Naslov Column -->
      <ng-container matColumnDef="route_action">
        <th class="fw-bold" mat-header-cell *matHeaderCellDef> Route</th>
        <td class="fw-bold" mat-cell *matCellDef="let element"> {{element.route_action}} </td>
      </ng-container>

      <!-- Podnaslov Column -->
      <ng-container matColumnDef="domain">
        <th class="fw-bold" mat-header-cell *matHeaderCellDef> Področje</th>
        <td class="fw-bold" mat-cell *matCellDef="let element">{{element.domain}} </td>
      </ng-container>

      <!-- Podnaslov Column -->
      <ng-container matColumnDef="client_host">
        <th class="fw-bold" mat-header-cell *matHeaderCellDef> Host</th>
        <td class="fw-bold" mat-cell *matCellDef="let element">{{element.client_host}} </td>
      </ng-container>
      <!-- Podnaslov Column -->
      <ng-container matColumnDef="content">
        <th class="fw-bold" mat-header-cell *matHeaderCellDef> Vsebina</th>
        <td class="fw-bold" mat-cell *matCellDef="let element">{{element.content}} </td>
      </ng-container>

      <!-- Datum vnosa Column -->
      <ng-container matColumnDef="datum_vnosa">
        <th class="fw-bold" mat-header-cell *matHeaderCellDef> Datum vnosa</th>
        <td mat-cell *matCellDef="let element"> {{element['datum_vnosa'] | date: 'dd.MM.yyyy HH:mm:ss'}} </td>
      </ng-container>

      <!-- Action Column -->
      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef></th>
        <td class="py-3 text-end" style="text-align: center" mat-cell *matCellDef="let element">
          <button style="margin-right: 2px" mat-mini-fab color="warn" (click)="deleteLog(element._id)">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayColumns;"></tr>

      <!-- Row shown when there is no matching data. -->
      <tr class="mat-row" *matNoDataRow>
        <td class="style-mat-cell-not-found-filter" colspan="6">
          <ng-container *ngIf="!input.value">
            <div class="p-3 fs-5">
              Ni podatkov za prikaz...
            </div>
          </ng-container>
          <ng-container *ngIf="input.value">
            <div class="p-3 fs-5">
              Podatkov v primerjavi z vpisanim
              "<span style="color: red">{{input.value}}</span>"
              ni mogoče najti ali ne obstajajo.
            </div>
          </ng-container>
        </td>
      </tr>
    </table>
  </div>

  <div class="d-flex justify-content-center align-content-center bg-transparent">
    <mat-paginator [pageSizeOptions]="[20, 50, 100]"
                   showFirstLastButtons
                   class="bg-transparent pt-4"
                   aria-label="Select page of periodic elements">
    </mat-paginator>
  </div>

</div>

<div *ngIf="spinner">
  <app-spinner></app-spinner>
</div>
